 * {
    box-sizing: border-box;
 }
 
 .Recipe-Title, 
 .Recipe-Image {
    text-align: center;
    font-size: 48px;
}

.Recipe-Description-Title {
    color: darkgreen;
    text-align: center;
    font-size: 30px;
}

.Recipe-Description {
    text-align: center;
    margin: 0 auto 28px;
    width: 240px;
}

h4 {
    color: rgb(88, 88, 10);
    font-family: courier;
    font-size: 20px;
}

ul,
ol {
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
}

li {
    margin: 16px 0;
}

.Ingredients-Steps {
    height: auto;
    width: 360px;
    background-color: lightblue;
    border: 2px solid black;
    padding: 10px 0 10px 36px;
}

.Steps li {
    margin-bottom: 30px;
}

.Steps {
    padding-bottom: 0px;
}