 .Recipe-Title, 
 .Recipe-Image {
    text-align: center;
}

.Recipe-Description-Title {
    color: darkgreen;
    font-family: ;
    text-align: center;
}

.Recipe-Description {
    text-align: center;
    margin: 8px 8px 64px;
}

h4 {
    color: rgb(88, 88, 10);
    font-family: courier;
}

ul,
ol {
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
}

li {
    margin: 8px 0;
}